#carousel {
    background: url("./../img/img_ourteam/Violet_top_left_wave.png");
    background-size: cover;
    background-position: center;
    
    .carousel_text {
        padding: 200px;
        float: left;
        span {
            color: #b61984;
            font-weight: 700;
            font-size: 15px;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
        }
    }





}