#content {
  
    background-color: #dcd1f3;
    padding: 30px;


    .lens {
        text-align: center;

        span {
            font-size: 12px;
            font-weight: 700;
            color: #b61984;
        }

        h4 {
            font-size: 25px;
            font-weight: 700;
        }

    }
}